.background {
	width: 780px;
	height: 1100px;
}
.layer {
	width: 780px;
	height: 205px;
}
.layer {
	width: 780px;
	height: 130px;
}
.layer {
	width: 0;
	height: 0;
}
.layer {
	width: 1500px;
	height: 2000px;
}
.vector-smart-ob {
	opacity: 0.1;
	width: 257px;
	height: 257px;
}
.layer {
	width: 383px;
	height: 500px;
}
.layer {
	opacity: 0.7;
	width: 554px;
	height: 871px;
}
.textStyle- {
	color: #000;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.textStyle- {
	color: #FFF;
	font-family: "Futura_Book";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0.5px 0.9px 0 rgba(124, 136, 144, 0.75);
}
.layer {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer {
	width: 3px;
	height: 3px;
}
.layer-copy {
	width: 3px;
	height: 3px;
}
.vector-smart-ob {
	width: 269px;
	height: 50px;
}
.vector-smart-ob {
	width: 269px;
	height: 50px;
}
.layer {
	opacity: 0.1;
	width: 245px;
	height: 1100px;
}
.layer-copy {
	opacity: 0.1;
	width: 241px;
	height: 1100px;
}
.layer {
	opacity: 0.5;
	width: 9px;
	height: 1100px;
}
.layer-copy {
	opacity: 0.5;
	width: 9px;
	height: 1100px;
}
.layer-copy {
	width: 221px;
	height: 176px;
}
.textStyle- {
	color: #FFF;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.layer {
	width: 202px;
	height: 45px;
}
.textStyle- {
	color: #FFF;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.textStyle- {
	color: #FFF;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.textStyle- {
	color: #000;
	font-family: "Futura_Book";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.textStyle-c {
	color: #FFF;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.layer-copy {
	width: 3px;
	height: 3px;
}
.layer {
	width: 3px;
	height: 3px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer-copy {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.layer-copy {
	width: 7px;
	height: 6px;
}
.layer {
	opacity: 0.5;
	width: 7px;
	height: 6px;
}
.textStyle- {
	color: #FFF;
	font-family: "Futura_Book";
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 0.5px 0.9px 0 rgba(124, 136, 144, 0.75);
}
.textStyle- {
	color: #000;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.layer {
	opacity: 0.7;
	width: 554px;
	height: 871px;
}
.vector-smart-ob {
	width: 269px;
	height: 50px;
}
.vector-smart-ob {
	width: 269px;
	height: 50px;
}
.textStyle- {
	color: #FFF;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight: 400;
}
.layer-copy {
	width: 221px;
	height: 176px;
}