@import "fonts/fonts.css";
/* flex */
.flex,
.header,
.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flex.start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -webkit-flex-align: flex-start;
  -webkit-box-align: flex-start;
  -moz-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
}
.flex.end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -webkit-flex-align: flex-end;
  -webkit-box-align: flex-end;
  -moz-align-items: flex-end;
  -moz-box-align: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-align-content: flex-end;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-flex-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
}
.flex.center,
.header,
.footer {
  -webkit-align-items: center;
  -webkit-flex-align: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -moz-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align-content: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-flex-align-content: center;
  -ms-align-content: center;
  align-content: center;
}
.flex.center.around {
  -webkit-box-align-content: space-around;
  -webkit-align-content: space-around;
  -moz-align-content: space-around;
  -ms-flex-align-content: space-around;
  -ms-align-content: space-around;
  align-content: space-around;
}
.flex.baseline {
  -webkit-align-items: baseline;
  -webkit-flex-align: baseline;
  -webkit-box-align: baseline;
  -moz-align-items: baseline;
  -moz-box-align: baseline;
  -ms-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.flex.stretch {
  -webkit-align-items: stretch;
  -webkit-flex-align: stretch;
  -webkit-box-align: stretch;
  -moz-align-items: stretch;
  -moz-box-align: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-align-content: stretch;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-align-content: stretch;
  -ms-align-content: stretch;
  align-content: stretch;
}
.flex.inline {
  display: inline-flex;
}
.flex.wrap {
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex.nowrap {
  -webkit-box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex.col,
.flex.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex.col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.flex.row,
.flex.horisontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex.j-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-box-pack: start;
  -ms-flex-align: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
}
.flex.j-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-box-pack: end;
  -ms-flex-align: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.flex.j-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.flex.j-around {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.flex.j-between,
.header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.flex.j-stretch {
  -webkit-justify-content: stretch;
  -moz-justify-content: stretch;
  -ms-justify-content: stretch;
  justify-content: stretch;
}
.ff.default,
body {
  font-family: Tahoma, Helvetica, "Times New Roman", Times, serif;
}
.ff.Futura_Book,
.header .description,
h1 {
  font-family: "Futura_Book", Tahoma, Helvetica;
}
.pm0,
body,
ul.list1,
ul.list1 li {
  margin: 0;
  padding: 0;
}
.first0,
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child {
  padding-top: 0;
  margin-top: 0;
}
.last0,
h1:last-child,
h2:last-child,
h3:last-child,
p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
/* */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 1.4vw;
  line-height: 1.2;
}
body > .bg {
  background: url(images/bg-top.jpg), url(images/bg-main.jpg);
  background-repeat: no-repeat;
  background-size: 100% 16.7vw, 100% 100%;
  background-position: 0 0, 0 16.7vw;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
body > .bg:before,
body > .bg:after {
  content: '';
  position: absolute;
  right: 0;
}
body > .bg:after {
  background: url("images/bg-top-right.png") no-repeat scroll 63% 0;
  background-size: 79vw auto;
  bottom: 0;
  top: 0;
  left: 68.5vw;
}
body > .bg:before {
  background: rgba(0, 0, 0, 0) url("images/bg-bottom-right.png") no-repeat scroll 100% 100%;
  background-size: 100% auto;
  height: 100%;
  width: 15vw;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  position: relative;
}
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.container {
  width: 100% !important;
  padding-left: 6.1vw;
  z-index: 1;
  flex: auto;
}
.container > .row {
  height: 100%;
}
.container > .row > * {
  padding-bottom: 5.4vw;
}
.container:before {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("images/bg-left-shadow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  height: 16.7vw;
  left: 5.1vw;
  position: absolute;
  width: 1vw;
  z-index: 1;
}
.header {
  height: 16.7vw;
  padding-top: 3.4vw;
}
.header .logo {
  background: rgba(0, 0, 0, 0) url("images/LOGO.png") no-repeat scroll 0 0;
  background-size: 100% auto;
  display: block;
  height: 7vw;
  width: 35vw;
}
.header .description {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin-top: -0.5vw;
  max-width: 19vw;
  text-align: right;
  text-transform: uppercase;
  transform: scaleX(0.9) translateX(7%);
}
h1 {
  color: #fff;
  font-size: 1.43em;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: .1vw .2vw .1vw #5B6C75;
  text-transform: uppercase;
}
.left-r {
  background: url(images/bg-top-content.jpg), url(images/bg-content.jpg);
  background-repeat: no-repeat;
  background-position: 0 0, 0 16.7vw;
  background-size: 100vw 16.7vw, 100% calc(100% - 16.7vw);
  line-height: 1.43;
  padding: 0 2.5vw;
  width: 62.4vw;
}
.left-r:after,
.left-r:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1vw;
}
.left-r:before {
  box-shadow: -1vw 0 1vw -1vw rgba(0, 0, 0, 0.4) inset;
  left: -1vw;
  top: 16.7vw;
}
.left-r:after {
  right: -1vw;
  box-shadow: 1vw 0 1vw -1vw black inset;
}
.content {
  padding: 3.3vw 0;
}
.right-r {
  color: white;
  margin: 42vw 0 0;
  padding: 0;
  right: 0;
  width: 25.9vw;
}
.right-r > * {
  margin-bottom: 3em;
}
.right-r .slogan {
  background: #000 none repeat scroll 0 0;
  border-radius: 1vw 0 0 1vw;
  line-height: 1.2;
  padding: 1.5em 1.4em 1.4em;
}
.right-r .contacts > * {
  padding: 0.6em 0.95em;
}
.right-r .contacts .title {
  background: #778e9d none repeat scroll 0 0;
  color: #fff;
  font-size: 1.035em;
  line-height: 1.1;
  padding: 0.4em 0.8em;
}
.right-r a {
  color: inherit;
  text-decoration: inherit;
}
ul.list1,
ul.list1 li {
  list-style: none;
}
ul.list1 li {
  display: block;
  margin-left: 1.5vw;
  padding: 0.45vw 0;
  text-indent: -1.3vw;
}
ul.list1 li:before {
  background: white none repeat scroll 0 0;
  border-radius: 1vw;
  box-shadow: .1vw .1vw .1vw gray;
  content: "";
  display: inline-block;
  height: 0.7vw;
  margin-right: 0.5vw;
  width: 0.7vw;
}
ul.list1 ul {
  margin: 0;
  padding: 0.5vw 0 0 1vw;
}
ul.list1 ul li {
  margin-left: 1.3vw;
  text-indent: -0.8vw;
}
ul.list1 ul li:last-child {
  padding-bottom: 0;
}
ul.list1 ul li:before {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0.1vw solid white;
  height: 0.2vw;
  width: 0.2vw;
  vertical-align: middle;
}
.footer {
  z-index: 1;
  background: black none repeat scroll 0 0;
  height: 5.1vw;
  padding: 0 11.3vw;
  color: white;
}
.footer .copy {
  font-size: 1.1em;
  transform: scaleX(0.93) translateX(-4%);
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .header .description {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 650px) {
  .header .description {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 780px) and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  body .bg:after {
    background-size: 45em auto;
  }
  .right-r {
    margin-top: 24em;
  }
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
  body .bg:after {
    background-size: 50vw auto;
  }
  .right-r {
    margin-top: 27vw;
  }
}
/* Debug * /
body {
	opacity: 0.5;
	display: block;
	background: url('../.source/splash.jpg') no-repeat center top;
	background-size: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0
}
/* /Debug */
