@import "fonts/fonts.css";
/* flex */
@import "less/flexbox-extend.less";

.ff {
	&.default {
		font-family: Tahoma, Helvetica, "Times New Roman", Times, serif;
	}
	&.Futura_Book {
		font-family: "Futura_Book", Tahoma, Helvetica;
	}
}

.pm0 {
	margin: 0;
	padding: 0;
}
.first0 {
	padding-top: 0;
	margin-top: 0;
}
.last0 {
	padding-bottom: 0;
	margin-bottom: 0;
}

/* */
html,
body {
	height: 100%;
	width: 100%;
}


body {
	&:extend(.ff.default);
	&:extend(.pm0);
	font-size: 1.4vw;
	line-height: 1.2;
	> .bg {
		background: url(images/bg-top.jpg), url(images/bg-main.jpg);
		background-repeat: no-repeat;
		background-size: 100% 16.7vw, 100% 100%;
		background-position: 0 0, 0 16.7vw;
		min-height: 100%;
		height: auto !important;
		height: 100%;
		&:before, &:after {
			content: '';
			position: absolute;
			right: 0;
		}
		&:after {
			background:url("images/bg-top-right.png") no-repeat scroll 63% 0;
			background-size: 79vw auto;
			bottom: 0;
			top: 0;
			left: 68.5vw;
		}
		&:before {
			background: rgba(0, 0, 0, 0) url("images/bg-bottom-right.png") no-repeat scroll 100% 100%;
			background-size: 100% auto;
			height: 100%;
			width: 15vw;
		}
	}
}
* {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
h1, h2, h3, p {
	&:first-child:extend(.first0) { }
	&:last-child:extend(.last0) { }
}
div {
	position: relative;
}
.main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.container {
	width: 100% !important;
	padding-left: 6.1vw;
	z-index: 1;
	flex: auto;
	> .row {
		height: 100%;
		> * {
			padding-bottom: 5.4vw;
		}
	}
	&:before {
		background-blend-mode: overlay;
		background-color: rgba(0, 0, 0, 0);
		background-image: url("images/bg-left-shadow.png");
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
		content: "";
		height: 16.7vw;
		left: 5.1vw;
		position: absolute;
		width: 1vw;
		z-index: 1;
	}
}
.header {
	&:extend(.flex);
	&:extend(.flex.j-between);
	&:extend(.flex.center);
	height: 16.7vw;
	padding-top: 3.4vw;
	.logo {
		background: rgba(0, 0, 0, 0) url("images/LOGO.png") no-repeat scroll 0 0;
		background-size: 100% auto;
		display: block;
		height: 7vw;
		width: 35vw;
	}
	.description {
		&:extend(.ff.Futura_Book);
		color: #000;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		margin-top: -.5vw;
		max-width: 19vw;
		text-align: right;
		text-transform: uppercase;
		transform: scaleX(0.9) translateX(7%);
	}
}
h1 {
	&:extend(.ff.Futura_Book);
	color: #fff;
	font-size: 1.43em;
	font-weight: bold;
	line-height: 1.2;
	text-shadow: .1vw .2vw .1vw #5B6C75;
	text-transform: uppercase;
}
.left-r {
	background: url(images/bg-top-content.jpg), url(images/bg-content.jpg);
	background-repeat: no-repeat;
	background-position: 0 0, 0 16.7vw;
	background-size:  ~"100vw 16.7vw, 100% calc(100% - 16.7vw)";
	line-height: 1.43;
	padding: 0 2.5vw;
	width: 62.4vw;
	&:after, &:before {
		content: '';
		position: absolute;
		top: 0; bottom: 0;
		width: 1vw;
	}
	&:before {
		box-shadow: -1vw 0 1vw -1vw rgba(0, 0, 0, 0.4) inset;
		left: -1vw;
		top: 16.7vw;
	}
	&:after {
		right:-1vw;
		box-shadow: 1vw 0 1vw -1vw black inset
	}
}
.content {
	padding: 3.3vw 0;
}
.right-r {
	color: white;
	margin: 42vw 0 0;
	padding: 0;
	right: 0;
	width: 25.9vw;
	> * {
		margin-bottom: 3em;
	}
	.slogan {
		background: #000 none repeat scroll 0 0;
		border-radius: 1vw 0 0 1vw;
		line-height: 1.2;
		padding: 1.5em 1.4em 1.4em;
	}
	.contacts {
		> * {
			padding: 0.6em 0.95em;
		}
		.title {
			background: #778e9d none repeat scroll 0 0;
			color: #fff;
			font-size: 1.035em;
			line-height: 1.1;
			padding: 0.4em 0.8em;
		}
	}
	a {
		color: inherit;
		text-decoration: inherit;
	}
}
ul.list1 {
	&, li {
		&:extend(.pm0);
		list-style: none;
	}
	li {
		display: block;
		margin-left: 1.5vw;
		padding: 0.45vw 0;
		text-indent: -1.3vw;
		&:before {
			background: white none repeat scroll 0 0;
			border-radius: 1vw;
			box-shadow: .1vw .1vw .1vw gray;
			content: "";
			display: inline-block;
			height: 0.7vw;
			margin-right: 0.5vw;
			width: 0.7vw;
		}
	}
	ul {
		margin: 0;
		padding: 0.5vw 0 0 1vw;
		li {
			margin-left: 1.3vw;
			text-indent: -0.8vw;
			&:last-child {
				padding-bottom: 0;
			}
			&:before {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border: 0.1vw solid white;
				height: 0.2vw;
				width: 0.2vw;
				vertical-align: middle;
			}
		}
	}
}
.footer {
	z-index: 1;
	&:extend(.flex);
	&:extend(.flex.center);
	background: black none repeat scroll 0 0;
	height: 5.1vw;
	padding: 0 11.3vw;
	color: white;
	.copy {
		font-size: 1.1em;
		transform: scaleX(0.93) translateX(-4%);
	}
}

@import "less/media.less";

/* Debug * /
body {
	opacity: 0.5;
	display: block;
	background: url('../.source/splash.jpg') no-repeat center top;
	background-size: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0
}
/* /Debug */