@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 768px) {
	body {
		font-size: 12px;
	}
	.header .description {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 650px) {
	.header .description {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 500px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 360px) {

}
@media screen and (min-width: 780px)  and (max-width: 1280px) {
	body {
		font-size: 14px;
		.bg {
			&:after {
				background-size: 45em auto;
			}
		}
	}

	.right-r {
		margin-top: 24em;
	}
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 16px;
		.bg {
			&:after {
				background-size: 50vw auto;
			}
		}
	}

	.right-r {
		margin-top: 27vw;
	}
}
